.method-select {
  display: flex;
  margin: 10px auto;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.method-button {
  padding: 8px 10px;
  background-color: transparent;
  border: 1px solid #00a6c9;
  display: flex;
  border-radius: 2px;
  gap: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  align-items: center;
  justify-content: center;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.custom-file-upload {
  display: flex;
  align-items: center;
  gap: 10px;
}

.custom-file-upload button {
  width: 100%;
  max-width: 251px;
  border: 1px solid #37b7c3;
  border-radius: 8px;
  background-color: transparent;
  padding: 0.8rem;
  font-size: 1rem;
  height: 45px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}



.file-name {
  font-size: 16px;
  color: #272727;
  font-weight: 700;
}


.Cause {
  position: relative;
  height: 50px;
  font-weight: 600;
  border: 2px solid #00a6c9;

}

.Cause div {
  padding: 0 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 25px;
  transition: .5s ease;
  text-wrap: nowrap;
}
.Cause input:hover + div{
  background-color: #5ad1e9;
}
.Cause input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 50px;
  opacity: 0;
  cursor: pointer;
}


input[type=checkbox]:checked~div {
  background-color: #00a6c9;
}



.AllCause {
  position: relative;
  height: 50px;

  display: flex;
  border: 2px solid #00a6c9;
  align-items: center;
  justify-content: flex-start;

}



.custom-checkbox {
  display: flex;
  align-items: center;
  border: 2px solid #00a6c9;
  width: fit-content;
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
  text-wrap: wrap;
  line-height: 16px;
  
}

.custom-checkbox input {
  display: none;
}

.checkmark {
  width: 20px;
  height: 20px;
  border: 2px solid #00a6c9;
  
  border-radius: 4px;
  display: inline-block;
  margin-right: 10px;
  background-color: white;
 
}

.custom-checkbox input:checked+.checkmark {
  background-color: #00a6c9;
 
}

.form-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(217, 217, 217, 0.89);
  display: flex;
  justify-content: center;
  overflow: auto;
  z-index: 1000;
  align-items: flex-start;
}

.centent-modal {
  background-color: #fff;
  border-radius: 8px;
  width:fit-content;
  max-width: 1023px;
  height: fit-content;
  padding: 0px 20px 20px 66px;
  margin: 3% 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid black;

}

.modal-form-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.5;
  color: #000000;
}

.form-grid {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  margin-right: 50px;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-column {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 15px;

}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-column:first-child input,
.form-column:first-child select {
  width: 33%;
  max-width: 251px;
  border: 1px solid #37b7c3;
  border-radius: 8px;
  padding: 0.8rem;
  font-size: 1rem;
}

.form-column:last-child input, textarea,
.form-column:last-child select {
  width: 90%;
  max-width: 443px;
  border: 1px solid #37b7c3;
  border-radius: 8px;
  padding: 0.8rem;
  font-size: 1rem;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  flex-wrap: wrap;
}

label {
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-wrap: nowrap;
}

.cancel-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  width: 100%;
  max-width: 108px;
  height: 36px;
  border-radius: 6px;
  cursor: pointer;
}

.submit-button {
  background-color: #00a6c9;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  max-width: 108px;
  height: 36px;
}

.submit-button:hover {
  background-color: #0088a7;
}

.cancel-button:hover {
  background-color: #d13a3a;
}


@media (max-width: 768px) {
  .modal-form-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
.centent-modal{
  padding: 0px 20px 20px;
}
  .form-grid {
    flex-direction: column;
    gap: 15px;
  }

  .form-column {
    padding: 10px;
  }

  .form-column input,
  .form-column select {
    width: 100%;
  }

  

  .cancel-button,
  .submit-button {
    width: 100%;
   
  }
}

@media (max-width: 480px) {
  .modal-form-title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .Cause , .Cause input{
    height: 30px;
    font-size: 16px;
    font-weight: 600;
   
  }

  .form-column {
    gap: 5px;
    flex-wrap: wrap;
  }
  .form-grid {
  
    margin-right: 0}
  label {
    font-size: 14px;
  }

  .cancel-button,
  .submit-button {
    height: 32px;
  }
  .custom-checkbox{
    max-width: 60%;
  }
}


@media (max-width: 380px) {

.Cause , .Cause input{
  
  font-size: 12px;
  
  width: 140px;
}
.centent-modal{
  padding: 0px 10px 20px;
}
}